<div class="row">
    <div class="col-md-8" ng-if="!listPokemonsLoaded">
        <span class="glyphicon glyphicon-refresh"></span>
        Loading Pokemons list ...
    </div>
    <div class="col-md-4" ng-if="!listBerriesLoaded">Loading Berries list ... </div>

    <div class="col-md-8" ng-if="listPokemonsLoaded">

        <div class="list-group">
            <a href="#!/pokemons/{{singlePokemon.name }}" class="list-group-item" ng-repeat="singlePokemon in pokemons"
            ng-click="toggle($event)">

                <h4>
                    {{singlePokemon.name | uppercase }}

                </h4>
                <button class="btn btn-default" ng-click="runEdit(singlePokemon);">Редактировать</button>
            </a>
        </div>

    </div>
    <div class="col-md-4" ng-if="listBerriesLoaded">

        <div class="list-group">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </div>
        </div>

    </div>
</div>
